<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login pages</h1>

    <form action="" method="post">
        {% csrf_token %}
        {% for i in form %}
        
        <div>
            <label for="{{i.label}}">{{i.label}}</label>
               <span id="{{i.label}}">
                {{i}}
               </span> 
               <br>
        {% endfor %}   
        </div>
        <button type="submit" style="color: brown;">login</button>
        <a href="{% url 'login' %}">login qiling</a>
        <a href="{% url 'create_user' %}">akkaunt yarating</a>
    </form>
</body>
</html>